<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>  
        <h1 style = "text-align:center;">Baley's Blog</h1>
        <form action="/photoblog" method="GET">
            <div style = "text-align:center">
                <button>Photo Blog</button>
            </div>
        </form>
        <p style = "text-align:center;">This is a simple blogging application where you can enter your name and a blog post. Eventually you will
        be able to create a post, edit a post, delete a post, and view all older posts.</p>
        </br>
        <div class="container">
        <h2 style = "text-align:center; ">Create Post</h2>
        <form style="text-align:center;" action="/add" method="POST" >
            <div>  
                <label for="username">Enter username:</label>
                <input name="username" id="username" value="enter your name here" />
                </br>
                <label for="content">Create blog post:</label>
                <textarea rows="10" cols="100" name="content" id="content" value="enter blog post here" ></textArea>
            </div>
            <div>
                <button>Create Post</button>
            </div>
        </form>
        </div>

        <div class="photocontainer">
            <h2 style = "text-align:center; ">Upload Photo</h2>
            <form style="text-align:center;" action="/addPhoto" method="POST" >
                <div>  
                    <label for="username">Enter username:</label>
                    <input name="username" id="username" value="enter your name here" />
                    </br>
                    <input type="file" accept="image/*"  name="image"/>
                    <label for="imagedescription">Create photo description:</label>
                    <br />
                    <textarea rows="8" cols="80" name="imagedescription" id="imagedescription"  value="enter image description here" ></textarea>

                    <label for="photo"></label>
                </div>
                <div>
                    <button>Create Post</button>
                </div>
            </form>
            </div>
        <h2 style="text-align:center;">Blog Posts</h2>

 
        <ul>
            {% for username in data%}
            <div class="blogposts">
            <ul>
                <div class="usernameblock">
                    {{username.blog_username}}
                </div>
                <br />
                <div class="postblock">
                    {{username.blog_txt}}
                </div>
            </ul>
            <form style="text-align:center;" action="/editpost" method="GET" >
                <button type="submit">EDIT POST</button>
                <input type="hidden" name="blog_id" id="blog_id" value={{username.blog_id}}></label>
            </form>
            <form style="text-align:center;" action="/delete" method="POST" >
                <button type="submit">DELETE POST</button>
                <input type="hidden" name="blog_id" id="blog_id" value={{username.blog_id}}></label>
            </form>
            </div>
            <br />
            {% endfor%}
        </ul>
    </body>
</html>